In [6]:
import csv
import pandas as pd
import numpy as np
import re
import os

'/Users/iago/code/CafedirectProducersFoundation/DataPrep'

In [7]:
kenya = pd.read_csv('KenyaClean.csv')
mapping_df = pd.read_csv('kenya_narrativedata_mapping.csv')

In [14]:
mapping_df[['Q21.Income.Other', ]

0                                                    NaN
1                                                  loans
2                                               pluckers
3                                          Farming costs
4                                              Cow feeds
5                                            development
6                                           workers wage
7                                                farming
8                                            development
9                                development buying land
10     invest on developments, pay wages,contribute t...
11                                                 wages
12                                    wages, development
13                                   wages, developments
14                                wages, improve my farm
15                             wages,saving,animal feeds
16                                                wages,
17                                         animals feeds
18                                animals feeds, savings
19             wages,savings,development, daily expenses
20                              development,wages,saving
21                                         wages,savings
22                       saving,development,animal feeds
23                            wages, savings, develoment
24                saving,development,daily home expenses
25                                    animal feeds,wages
26                          wages,animal  feeds,savings,
27                                  wages, animal feeds,
28                                    wages,developments
29                   wages, developments, daily expenses
                             ...
159                                                  NaN
160                                                  NaN
161                                                  NaN
162                                                  NaN
163                                                  NaN
164                                                  NaN
165                                                  NaN
166                                                  NaN
167                                                  NaN
168                                                  NaN
169                                                  NaN
170                                                  NaN
171                                                  NaN
172                                                  NaN
173                                                  NaN
174                                                  NaN
175                                                  NaN
176                                                  NaN
177                                                  NaN
178                                                  NaN
179                                                  NaN
180                                                  NaN
181                                                  NaN
182                                                  NaN
183                                                  NaN
184                                                  NaN
185                                                  NaN
186                                                  NaN
187                                                  NaN
188                                                  NaN
Name: Q21.Income.Other, dtype: object

In [13]:
target_cols = ['Q21','Q93', 'Q28', 'Q95', 'Q97', 'Q99', 'Q147', 'Q148', 'Q150', 'Q162', 'Q163', 'Q165', 'Q166', 'Q170', 'Q171']

mapping_cols = [col for target in target_cols for col in mapping_df.columns if target in col and not '.FreeText' in col and not '.Clean' in col]
print(mapping_cols)

data_cols = [col for target in target_cols for col in kenya.columns if target in col and not '.FreeText' in col and not '.Clean' in col]
print(data_cols)

['Q21.Income.Other', 'Q21.Income.Other.Reponse1.Level1', 'Q21.Income.Other.Reponse1.Level2', 'Q21.Income.Other.Reponse2.Level1', 'Q21.Income.Other.Reponse2.Level2', 'Q93.BankAccountChallenges', 'Q28.FarmHealth.Text', 'Q95.BankLoanFacilityChallenges', 'Q95.BankLoanFacilityChallenges.Reponse1.Level1', 'Q95.BankLoanFacilityChallenges.Reponse1.Level2', 'Q95.BankLoanFacilityChallenges.Reponse2.Level1', 'Q97.BankCreditChallenges', 'Q99.SACCOChallenges', 'Q99.SACCOChallenges.Reponse1.Level1', 'Q99.SACCOChallenges.Reponse1.Level2', 'Q147.OtherInfoAreas', 'Q147.OtherInfoAreas.Reponse1.Level1', 'Q147.OtherInfoAreas.Reponse1.Level2', 'Q147.OtherInfoAreas.Reponse1.Level3', 'Q147.OtherInfoAreas.Reponse2.Level1', 'Q147.OtherInfoAreas.Reponse2.Level2', 'Q147.OtherInfoAreas.Reponse3.Level1', 'Q147.OtherInfoAreas.Reponse3.Level1.1', 'Q147.OtherInfoAreas.Reponse4.Level1', 'Q147.OtherInfoAreas.Reponse5.Level1', 'Q147.OtherInfoAreas.Reponse6.Level1', 'Q147.OtherInfoAreas.Reponse7.Level1', 'Q148.IdeasOfChanges', 'Q150.HelpToImplementChanges', 'Q150.HelpToImplementChanges.Reponse1.Level1', 'Q150.HelpToImplementChanges.Reponse1.Level2', 'Q150.HelpToImplementChanges.Reponse2.Level1', 'Q150.HelpToImplementChanges.Reponse2.Level2', 'Q150.HelpToImplementChanges.Reponse3.Level1', 'Q150.HelpToImplementChanges.Reponse4.Level1', 'Q162.MainChallengesOnFarm', 'Q162.MainChallengesOnFarm.Reponse1.Level1', 'Q162.MainChallengesOnFarm.Reponse1.Level2', 'Q162.MainChallengesOnFarm.Reponse1.Level3', 'Q162.MainChallengesOnFarm.Reponse2.Level1', 'Q162.MainChallengesOnFarm.Reponse2.Level2', 'Q162.MainChallengesOnFarm.Reponse2.Level3', 'Q162.MainChallengesOnFarm.Reponse3.Level1', 'Q162.MainChallengesOnFarm.Reponse3.Level2', 'Q162.MainChallengesOnFarm.Reponse3.Level3', 'Q162.MainChallengesOnFarm.Reponse4.Level1', 'Q162.MainChallengesOnFarm.Reponse4.Level2', 'Q163.SolutionsToAddressProblems', 'Q166.ShareNewFarmingPractice.Example', 'Q170.ChallengesOfSharingInfo', 'Q170.ChallengesOfSharingInfo.Reponse1.Level1', 'Q170.ChallengesOfSharingInfo.Reponse1.Level2', 'Q170.ChallengesOfSharingInfo.Reponse2.Level1', 'Q171.MakeSharingEasier', 'Q171.MakeSharingEasier.Response1.Level1', 'Q171.MakeSharingEasier.Response1.Level2', 'Q171.MakeSharingEasier.Response2.Level1', 'Q171.MakeSharingEasier.Response2.Level2']
['Q21.Income.Food.O1', 'Q21.Income.SchoolFees.O2', 'Q21.Income.MedicalBills.O3', 'Q21.Income.Clothes.O4', 'Q21.Income.Energy.O5', 'Q21.Income.Other.O6', 'Q21.Income.Other.O6.Text', 'Q93.BankAccountChallenges', 'Q28.FarmHealth.Text', 'Q95.BankLoanFacilityChallenges', 'Q97.BankCreditChallenges', 'Q99.SACCOChallenges', 'Q147.OtherInfoAreas', 'Q148.IdeasOfChanges', 'Q150.HelpToImplementChanges', 'Q162.MainChallengesOnFarm', 'Q163.SolutionsToAddressProblems', 'Q165.ShareNewFarmingPractice', 'Q165.ShareNewFarmingPractice.Other', 'Q166.ShareNewFarmingPractice.Example', 'Q170.ChallengesOfSharingInfo', 'Q171.MakeSharingEasier']

In [21]:
sub_columns = mapping_df[['Q21.Income.Other',
 'Q21.Income.Other.Reponse1.Level1',
 'Q21.Income.Other.Reponse1.Level2',
 'Q21.Income.Other.Reponse2.Level1',
 'Q21.Income.Other.Reponse2.Level2']]

sub_columns = sub_columns.rename(columns={'Q21.Income.Other': 'Q21.Income.Other.O6.Text'})

sub_columns

,Q21.Income.Other.O6.Text,Q21.Income.Other.Reponse1.Level1,Q21.Income.Other.Reponse1.Level2,Q21.Income.Other.Reponse2.Level1,Q21.Income.Other.Reponse2.Level2
0,NaN,NaN,NaN,NaN,NaN
1,loans,Loans,NaN,NaN,NaN
2,pluckers,Wages,NaN,NaN,NaN
3,Farming costs,Farm Costs,NaN,NaN,NaN
4,Cow feeds,Livestock,NaN,NaN,NaN
5,development,Farm Costs,NaN,NaN,NaN
6,workers wage,Wages,NaN,NaN,NaN
7,farming,Farm Costs,NaN,NaN,NaN
8,development,Farm Costs,NaN,NaN,NaN
9,development buying land,Farm Costs,NaN,NaN,NaN
10,"invest on developments, pay wages,contribute t...",Farm Costs,NaN,Wages,NaN
11,wages,Wages,NaN,NaN,NaN
12,"wages, development",Wages,NaN,Farm Costs,NaN
13,"wages, developments",Wages,NaN,Farm Costs,NaN
14,"wages, improve my farm",Wages,NaN,Farm Costs,NaN
15,"wages,saving,animal feeds",Wages,Savings,Livestock,NaN
16,"wages,",Wages,NaN,NaN,NaN
17,animals feeds,Livestock,NaN,NaN,NaN
18,"animals feeds, savings",Livestock,NaN,Savings,NaN
19,"wages,savings,development, daily expenses",Wages,Savings,Farm Costs,Daily Expenses
20,"development,wages,saving",Wages,Savings,Farm Costs,NaN
21,"wages,savings",Wages,Savings,NaN,NaN
22,"saving,development,animal feeds",Livestock,Savings,Farm Costs,NaN
23,"wages, savings, develoment",Farm Costs,Savings,Wages,NaN
24,"saving,development,daily home expenses",Farm Costs,Savings,Farm Costs,Daily Expenses
25,"animal feeds,wages",Livestock,NaN,Wages,NaN
26,"wages,animal feeds,savings,",Livestock,Savings,Wages,NaN
27,"wages, animal feeds,",Livestock,NaN,Wages,NaN
28,"wages,developments",Farm Costs,NaN,Wages,NaN
29,"wages, developments, daily expenses",Wages,Daily Expenses,Farm Costs,NaN
...,...,...,...,...,...
159,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN
175,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN

In [23]:
merged = pd.merge(kenya, sub_columns, how='inner', on=['Q21.Income.Other.O6.Text' ])

merged[['Q21.Income.Other.O6.Text','Q21.Income.Other.Reponse1.Level1',
 'Q21.Income.Other.Reponse1.Level2',
 'Q21.Income.Other.Reponse2.Level1',
 'Q21.Income.Other.Reponse2.Level2']]

,Q21.Income.Other.O6.Text,Q21.Income.Other.Reponse1.Level1,Q21.Income.Other.Reponse1.Level2,Q21.Income.Other.Reponse2.Level1,Q21.Income.Other.Reponse2.Level2
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
19919,"wages, savings, develoment",Farm Costs,Savings,Wages,NaN
19920,"saving,development,daily home expenses",Farm Costs,Savings,Farm Costs,Daily Expenses
19921,"animal feeds,wages",Livestock,NaN,Wages,NaN
19922,"wages,animal feeds,savings,",Livestock,Savings,Wages,NaN
19923,"wages, animal feeds,",Livestock,NaN,Wages,NaN
19924,"wages,developments",Farm Costs,NaN,Wages,NaN
19925,"wages, developments, daily expenses",Wages,Daily Expenses,Farm Costs,NaN
19926,"wages, animal feeds,expanding farming,communit...",Wages,Farm Costs,Livestock,Group Contributions
19927,"farming, wages",Farm Costs,NaN,Wages,NaN
19928,"wages,animal feeds",Wages,NaN,Livestock,NaN
19929,"wages,animal feeds",Wages,NaN,Livestock,NaN
19930,"wages,animals feed, church contribution,develo...",Wages,Farm Costs,Livestock,Group Contributions
19931,"wages,animal feeds,",Wages,NaN,Livestock,NaN
19932,pluckers salary,Wages,NaN,NaN,NaN
19933,pay plucker,Wages,NaN,NaN,NaN
19934,"animal feeds,transport",Livestock,NaN,Transport,NaN
19935,"wages, monthly expenses such zuku,animal feeds...",Wages,Daily Expenses,Livestock,Group Contributions
19936,paying pluckers,Wages,NaN,NaN,NaN
19937,BUYING ANOTHER LAND,Land Purchase,NaN,NaN,NaN
19938,"WAGES AND SALARIES,MAINTENANCE OF THE FARM",Wages,NaN,Farm Costs,NaN
19939,Farming,Farm Costs,NaN,NaN,NaN
19940,Farming,Farm Costs,NaN,NaN,NaN
19941,Farming,Farm Costs,NaN,NaN,NaN
19942,Farming,Farm Costs,NaN,NaN,NaN
19943,Tea farming,Farm Costs,NaN,NaN,NaN
19944,Dairy farming,Farm Costs,NaN,Livestock,NaN
19945,Buying more land,Land Purchase,NaN,NaN,NaN
19946,Repaying loans,Loan Repayment,NaN,NaN,NaN
19947,"Savings,harambees",Savings,NaN,NaN,NaN
19948,"Farming,dairy feeds,travelling,wages and salaries",Farm Costs,Wages,Livestock,Travel